<app-menu></app-menu>
<mat-card>
  <mat-card-title>{{'Detailauswertung ' + currentName}}</mat-card-title>
  <form>
    <mat-select placeholder="MA wählen" (change)="onDateChange($event.value)" name="date">
      <mat-option *ngFor="let date of names" [value]="date">
        {{date}}
      </mat-option>
    </mat-select>
  </form>
  <br><br>
  <mat-card-content>
    <mat-tab-group>

      <div *ngFor="let charts of bar_ChartData; let i = index" [attr.data-index]="i" >


        <mat-tab label="{{formFields[i].topic}}">

          <div *ngFor="let chart of charts; let j = index" [attr.data-index]="j" >
            <mat-card>
              <mat-card-title>{{formFields[i].criteria[j].title}}</mat-card-title>
              <div appGoogleChart id="{{'bar_chart'+i+j}}" [chartData]="chart" [chartOptions] = "bar_ChartOptions" chartType="LineChart" GoogleChart></div>
            </mat-card>

          </div>

        </mat-tab>
      </div>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
