<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">{{title}}&nbsp;<sup><i class="fa fa-comments-o" aria-hidden="true"></i></sup></span>
    <span><button mat-raised-button color="white" (click)="onButtonClick('form')">Neues Formular</button>
    <button mat-raised-button color="white" (click)="onButtonClick('grob')">Grob-Auswertung</button>
    <button mat-raised-button color="white" (click)="onButtonClick('detail')">Detail-Auswertung</button></span>
  </mat-toolbar-row>
</mat-toolbar>
