<app-menu></app-menu>
<mat-card>
  <mat-card-title>{{'Grobauswertung : ' + currentName }}</mat-card-title>

  <form>
    <mat-select placeholder="MA wählen" (change)="onDateChange($event.value)" name="date">
      <mat-option *ngFor="let date of names" [value]="date">
        {{date}}
      </mat-option>
    </mat-select>
  </form>
  <br><br>
  <mat-card-content>

    <mat-card>
      <mat-card-title>Gesamtauswertung</mat-card-title>
      <div appGoogleChart id="bar_chart" [chartData]="bar_ChartData" [chartOptions] = "bar_ChartOptions" chartType="LineChart" GoogleChart></div>
    </mat-card>

    <div *ngFor="let chart of bar_Datas; let i = index" [attr.data-index]="i" >


      <mat-card>
        <mat-card-title>{{formFields[i].topic}}</mat-card-title>
        <div appGoogleChart id="{{'bar_chart'+i}}" [chartData]="chart" [chartOptions] = "bar_ChartOptions" chartType="LineChart" GoogleChart></div>
      </mat-card>



    </div>

  </mat-card-content>
</mat-card>
