<app-menu></app-menu>
<mat-card>

    <mat-select class="name_selector" [(value)]="currentName" (change)="onDateChange($event.value)">
      <mat-option *ngFor="let name of names" value="{{name}}">
        {{name}}
      </mat-option>
    </mat-select>
  <br><br>
  <mat-card-content>

    <mat-card>
      <mat-card-title>Gesamtauswertung</mat-card-title>
      <div *ngFor="let chart of bar_ChartData; let i = index" [attr.data-index]="i" >
      <div  id="bar_chart_g" [chartData]="chart" [chartOptions] = "bar_ChartOptions" chartType="LineChart" appGoogleChart></div>
      </div>
    </mat-card>

    <div *ngFor="let chart of bar_Datas; let i = index" [attr.data-index]="i" >


      <mat-card>
        <mat-card-title>{{formFields[i].topic}}</mat-card-title>
        <div  id="{{'bar_chart'+i}}" [chartData]="chart" [chartOptions] = "bar_ChartOptions" chartType="LineChart" appGoogleChart></div>
      </mat-card>



    </div>

  </mat-card-content>
</mat-card>
