<app-menu></app-menu>
<mat-card>
  <mat-card-content>
    <form #formData="ngForm" (ngSubmit)="saveData(formData)">
      <mat-form-field>
        <input name="name_evaluator" ngModel matInput placeholder="Bewerter">
      </mat-form-field>
      <mat-form-field>
        <input name="name_candidate" ngModel matInput placeholder="Kandidat">
      </mat-form-field>
      <mat-form-field>
        <input name="date" [(ngModel)]="myDate" (click)="picker.open()" (focus)="picker.open()" readonly matInput [matDatepicker]="picker" placeholder="Datum">

        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-tab-group (selectChange)="setGraph($event)">
        <div *ngFor="let topic of formfields; let i = index" [attr.data-index]="i">
          <mat-tab label="{{topic.topic}} {{(scores[i] ? scores[i].result : []) | average }}">
            <div *ngFor="let criteria of topic.criteria">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>{{criteria.title}}</mat-card-title>
                  <mat-card-subtitle>{{criteria.subtitle}}</mat-card-subtitle>

                </mat-card-header>
                <mat-button-toggle-group #group="matButtonToggleGroup" (change)="showUpdates()" name="t{{i}}">
                  <mat-button-toggle value="1">1</mat-button-toggle>
                  <mat-button-toggle value="2">2</mat-button-toggle>
                  <mat-button-toggle value="3">3</mat-button-toggle>
                  <mat-button-toggle value="4">4</mat-button-toggle>
                  <mat-button-toggle value="5">5</mat-button-toggle>
                  <mat-button-toggle value="6">6</mat-button-toggle>


                </mat-button-toggle-group>
              </mat-card>


            </div>


          </mat-tab>


        </div>

      </mat-tab-group>


      <mat-form-field>
        <textarea name="measures" ngModel matInput placeholder="Massnahmenplan"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea name="notes" ngModel matInput placeholder="Bemerkungen"></textarea>
      </mat-form-field>


      <button type="submit"  mat-fab color="accent"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

    </form>


  </mat-card-content>
</mat-card>
