.mat-fab.mat-accent{
  color:white;
}

.mat-button-toggle-checked{
  background-color: #40c4ff;
  color:white;
  font-weight: bold;
}

.measures, .notes {
  height:200px;
}

.mat-form-field-wrapper{
  margin:20px;
}

.submit_btn{
  margin-left:50px;
}
